language: php

php:
  - 5.3.3
  - 5.4
  - 5.5
  - 5.6

before_script:
    - wget http://getcomposer.org/composer.phar
    - php composer.phar install --no-interaction

script:
    - mkdir -p build/logs
    - phpunit --coverage-clover build/logs/clover.xml

after_script:
    - vendor/bin/coveralls -v --config .coveralls.yml

notifications:
    email: pierstoval@gmail.com
